<form class="form-horizontal">
	<fieldset>

		<!-- Form Name -->

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">Name</label>
			<div class="col-md-4">
				<input id="textinput" name="textinput" type="text" ng-model="User.Name" placeholder="Enter Your Name" class="form-control input-md" autocomplete="off">

			</div>
		</div>


		<div class="form-group">
			<label class="col-md-4 control-label" for="Reg_Password">User name</label>
			<div class="col-md-4">
				<input id="Reg_Password" type="text" ng-model="User.UserName" placeholder="Enter the Username" class="form-control input-md" required="" autocomplete="off">

			</div>
		</div>
		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="Reg_Email">Email</label>
			<div class="col-md-4">
				<input id="Reg_Email" type="text" ng-model="User.Email" placeholder="Enter Your E-mail" class="form-control input-md" required="" autocomplete="off">

			</div>
		</div>

		<!-- Password input-->


		<!-- Password input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="Reg_CnfPassword">Password</label>
			<div class="col-md-4">
				<input id="Reg_CnfPassword" name="Reg_CnfPassword" type="password" ng-model="User.Password" placeholder="Enter the Password" class="form-control input-md" required="" autocomplete="off">
				<br>


			</div>

		</div>

		<!-- Button -->
		<div class="form-group">
			<label class="col-md-4 control-label" for=""></label>
			<div class="col-md-4">
				<button id="" name="" class="btn btn-primary" ng-click="RegisterUser()">Register</button> &nbsp <span> <a href="#/Login.html">Go back to login</a>
</span>
			</div>
		</div>

	</fieldset>
</form>